.navbar-brand {
    font-size: 1.55rem;
    font-weight: 400;
}

.urlshortener {
    padding: 10px 10px 0px 10px;
    width: 300px;
    display:flex;
    flex-direction: column;
}

input[type="button"] {
    height: 50px;
}

@media only screen and (max-width: 600px) {
    .urlshortener {
        width:initial;
    }

    .urlshortener-clipboard {
        margin-top: 0.5rem;
    }
}